assignments\week_06\mooreslaw_solution.ipynb
assignments/week_06/mooreslaw_results.csv
assignments/week_06/mooreslaw_results.npy
assignments/week_06/mooreslaw_solution.ipynb
assignments/week_06/data_scraper.py
examples.ipynb
assignments/week_07/coordinate_transform_solution.ipynb
